table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


tbody tr:nth-child(even) {
    background-color: #dddddd;
}

tbody tr.selected {
    background-color: deepskyblue;
    color: #FFF;
}

tbody tr.selected:nth-child(even) {
    background-color: cadetblue;
    color: #FFF;
}

div#content {
    position: fixed;
    top: 80px;
    left: 40px;
    bottom: 25px;
    min-width: 200px;
    background: black;
    /* DEBUG: If the iframe doesn't cover the whole space,
       it'll show through as black. */
}

/* Position the iframe inside the new stacking context
   to take up the whole space */
div#content iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}