table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


tbody tr:nth-child(even) {
    background-color: #dddddd;
}

tbody tr.selected {
    background-color: deepskyblue;
    color: #FFF;
}

tbody tr.selected:nth-child(even) {
    background-color: cadetblue;
    color: #FFF;
}
